body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}
.hidden{
  visibility: hidden;
}

nav{
  background-color: rgb(165, 30, 30);
  border-radius: 0px 50px;
  animation: slideInRight 1s;
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn{
  background-color: black;
  color: white;
}
.btn:focus{
  background-color: rgb(80, 56, 56);
  color: white;

}
.btn:hover{
  background-color: rgb(80, 56, 56);
  color: white;
}